image:
  repository: wtstephens/lcservice
  tag: "0.0.3"

lightcurve_s3:
  S3_ACCESS_KEY_ID: "--placeholder--"
  S3_SECRET_ACCESS_KEY: "--placeholder--"

resources:
  limits:
    memory: 1024Mi
  requests:
    memory: 512Mi

ingress:
  enabled: true
  className: ""
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
    # make public
    nginx.ingress.kubernetes.io/whitelist-source-range: "0.0.0.0/0,::/0"
  hosts:
    - host: lightcurve.apps.renci.org
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: lightcurve
              port:
                number: 8080
  tls:
   - secretName: lightcurve.apps.renci.org-tls
     hosts:
       - lightcurve.apps.renci.org
